h1 How does it work?

p The MOOC Matcher app will help social organizations to find best volunteers for their projects. It will also help students to have the chance to develop what they have learned for free in MOOC, improve their CVs, create networks and also make a difference in their own communities.   

p In this beta version, only organizations are able to create an account, post a vacancy and browse students' profiles. The next step is to enable students to create their profiles and submit their CVs to social organizations. 

p Organizations will also find easy to track best and motivated students in a MOOC. Click <a href="/login">here</a>, to login and browse our database. Also, you can check which massive open online courses 

p The aim of this app is to to unite in one network free knowlgde with social opportunities.

h1 What is a MOOC? 

p Massive Open Online Courses are at the core of current disruptions in high education systems. By offering flexible and free disciplines online, educators reach new audiences that would never had the chance to enroll in a formal academic course. Click <a href="http://moocnewsandreviews.com/what-is-a-massive-open-online-course-anyway-attempting-definition/">here</a> if you're interested to learn more about MOOCs and how they function. 

img src="http://farm9.staticflickr.com/8115/8620174342_3d5092ca2d_z.jpg" alt="MOOCs definition"
p Credit: Mathieu Plourde
