p Learn and practice: this website will help social organizations to find great MOOC students who are willing to share their knowledge

p Are you from a social organization, looking for a volunteer? Click <a href="/login"><strong>here</strong></a> and login to post a vacancy. You will be able to see students' profiles, their ranks and their level of interactivity in the MOOC. You'll also be able to search for MOOCs' students in the database and see who's best for your task. 

img src="images/moocss.jpg" alt="MOOCs"
p Credit: Giulia Forsythe