h1 MOOCs included:

p This app includes students and alumni from the following massive open online courses:

ul
	li <a href="http://mooc.uva.nl/portal">Introduction to Communication Science - University of Amsterdam</a>
	li <a href="https://www.coursera.org/course/sna">Social Network analysis - University of Michigan</a>
	li <a href="https://www.coursera.org/course/scientificcomp">Scientific Computing - University of Washington</a>
	li <a href="https://www.coursera.org/course/digitalmedia">Creative Programming: Digital Media and Mobile App - University of London</a>
	li <a href="https://www.coursera.org/course/financialmarkets">Financial Markets - Yale University</a>
	li <a href="https://www.coursera.org/course/insidetheinternet">Internet History, Technology, and Security - University of Michigan</a>
